/*  for manu slide   */


body{
    position: relative;
}

header {
     height: 80px;
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #ccc;
    z-index: 100;
}
 
header h1, h2 {
     float: left;
}

header h1 a {
    display: inline-block;
    width: 67px;
 }

header h2 a {
    display: inline-block;
    width: 175px;
    background-position-x: -66px;
}

header #gnb {
    float: right;
    position: relative;
}

header #gnb li {
    display: inline-block;
    margin-left: 30px;
    font-weight: 500;
}
header #gnb li a:hover {
    color: #009070
}

#gnb .mobile {
    display: none;
}

header #gnb li:first-child {
    margin-left: 0;
}

header #gnb #greenBar {
    border-bottom: 6px solid #009070;
    position: absolute;
    top: 43px;
    transition: width 0.1s;
}

@media screen and (max-width: 1000px) {
    header {
        text-align: center;
    }
    header #gnb li {
        font-size: 16px;
        margin-left: 16px;
    }
    header #gnb li:nth-of-type(2) {
        margin-left: 0;
    }
    #gnb li:first-child, #gnb li:last-child {
        display: none;
    }
    #gnb .mobile {
        display: inline-block;
    }
    h1 {
        margin-left: 20px;
    }
    /* trigger menu*/
    #trigger {
        cursor: pointer;
        width: 40px;
        height: 34px;
        position: relative;
        float: left;
        margin-left: 0px;
        margin-top: -8px;
    }
    #trigger:hover span {
        background-color: #009070;
    }
    
    #trigger span {
        display: block;
        height: 4px;
        border-radius: 2px;
        background-color: #333;
        position: absolute;
        width: 100%;
        transition: all 0.3s;
    }
    #trigger span:nth-of-type(1) {
        top: 0;
    } 
    #trigger span:nth-of-type(2) {
        top: 15px;
    }
    #trigger span:nth-of-type(3) {
        top: 30px;
    }
    /* trigger menu end ------------------------------------------------------------------ */

    /* mobile start ------------------------------------------------------------------ */
    #m_gnb_close { 
        font-size: 40px;
    }
    #mobile_gnb {
        display: block !important;
        background-color: black;
        position: fixed;
        top: 0;
        right: 0;
        width: 0px;
        height: 100%;
        padding: 0 0 30px 0;
        box-sizing: border-box;
        transition: width 0.5s;
    }

    #mobile_gnb a {
        border-top: 1px solid #555;
        color: white;
        display: block;
        width: 100%;
        padding: 15px 0;
    }
    #mobile_gnb li:first-child a {
        border-top: none;
    }
    #mobile_gnb li:first-child a:hover {
        background-color: transparent;
        color: #009070;
    }
    #mobile_gnb li:last-child a {
        border-bottom: 1px solid #555;
    }
    #mobile_gnb a:hover {
        color: black;
        background-color: #aaa;
    }
}
    /* // mobile menu end   */


@media screen and (max-width: 880px) {
    #gnb li:nth-of-type(2), #gnb li:nth-of-type(3) {
        display: none;
    }
    #gnb li:nth-of-type(4) {
        margin-left: 0;
    }

}
@media screen and (max-width: 768px) {
    header {
        padding: 20px 0;
        height: 130px;
    }
    h1 {
        margin-left: 0px;
        font-size: 26px;
    }
    h1, h2 {
        float: none !important;
        display: inline-block;
    }
    #gnb li:nth-of-type(2), #gnb li:nth-of-type(3) {
        display: inline-block;
    }
    #gnb li:nth-of-type(4) {
        margin-left: 16px;
    }
    #trigger {
        /* border: 3px solid red; */
        margin-left: 15px;
    }
    header #gnb {
        /* border: 2px solid red;    */
        border-top: 2px solid #eee;
        float: none !important;
        padding: 20px;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        display: none;
    }
    #trigger {
        margin-left: 15px;
    }
    header #gnb li:nth-of-type(3) {
        display: none;
    }
    #mobile_gnb {
        font-size: 14px;
        padding-top: 60px;
    }
    #m_gnb_close {
        font-size: 35px;
        top: 15px;
    }
}